include README.rst
include LICENSE
include src/txaws/client/tests/*.key
include src/txaws/client/tests/*.crt
include src/txaws/client/tests/*.ssl
include src/txaws/wsdl/*.wsdl
recursive-include src/txaws/tests/aws4_testsuite *

graft bin
